.services {
    height: 80vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 4.8rem;
    height: 16rem;
    background: #fff;
}

.header h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 154.5%;
    letter-spacing: 0.035em;
    color: #000000;
    margin-bottom: -18px;
    margin-top: 5rem;
}

.filter {
    width: 35%;
    margin: -2.5rem 0rem 2rem 5rem;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.active {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #008DC2;
}

.item {
    height: 360px;
    text-align: center;
}

.item__text {
    padding: 9rem 2rem 0 2rem;
}

.item__text h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 154.5%;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}

.item__text p {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 154.5%;
    text-align: center;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}
.items {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0rem 5rem 10rem 5rem;
    /* align-items: center; */
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px; */
    /* justify-items: start; */

}
.footer {
    width: 100%;
    height: 98px;
    background: #393F47;
}

@media  screen and (max-width: 1439px) {
    .item__text {
        padding: 6rem 2rem 0 2rem;
    }
    .item__text h6 {
        font-size: 16px;
    }
}

@media screen and (max-width: 540px){
    .contactImg {
        height: 5rem;
    }
    .contactImg p {
        padding-top: 1rem;
    }
    .header {
        height: 5rem;
        display: block;
        margin-left: 1rem;
        margin-top: 7rem;
    }
    .items {
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 0rem 1rem 5rem 1rem;
    }
    .filter {
        width: 100%;
        margin: 0.5rem 0rem 2rem 1rem;
    }
}
    