.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
}

.about__img {
    width: 50%;
}

.about__img img {
    margin: 8rem 10rem 8rem 4rem;
}

.about__text {
    width: 50%;
    height: 629px;
}

.text {
    margin: 15rem 8rem 0rem 4rem;
}

.text h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 154.5%;
    letter-spacing: 0.035em;
    color: #000000;
    margin-bottom: -18px;
}

.text p {
    margin-top: 2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    letter-spacing: 0.035em;
    color: #000000;

}

.serviceInfo {
    width: 100%;
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
}

.infoLeft {
    width: 35%;
    margin-top: 2rem;
    margin-left: 5rem;
}
.infoLeft img {
    margin-top: 2rem;
}
.infoLeft h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 57.6px;
    line-height: 68px;
    color: #000000;
    margin-bottom: 4rem;
    margin-left: -3.9rem;
}

.infoRight {
    width: 50%;
}

.infotext {
    margin: 20rem 3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #000000;
}

.footer {
    width: 1005;
    height: 98px;
    background: #393F47;
}

@media screen and (max-width: 540px) {
    .about {
        height: 20rem;
    }
    .about__img {
        display: none;
    }
    .about__text {
        width: 100%;
    }
    .text {
        margin: 1rem;
    }
    
}