.contactImg {
    height: 356.23px;
    background-image: url('../Utils/Img/contactImg.png');
    background-size: cover;
}

.contactImg p {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 16rem;
    padding-left: 5rem;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;

}

.contact {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.contactDetails {
    width: 45%;
    margin-left: 3rem;
    margin-left: 0rem;
}
.contactDetails p {
    font-size: 16px;
    line-height: 19px;
}

.phone {
    display: flex;
    justify-content: space-between;
    width: 10.5rem;
    align-items: center;
}

.email {
    display: flex;
    justify-content: space-between;
    width: 15rem;
    align-items: center;
}

.location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
}

.location svg {
    margin-left: -5px;
}

.location p {
    margin-left: 2rem;
    width: 28rem;
}

.form {
    background: #ffffff;
    width: 50%;
    height: 739px;
    top: 13rem;
    left: 45%;
    position: absolute;
    clip-path: polygon(0 0%, 210% 35%, 100% 100%, 0% 100%);
}

.formHolder {
    margin: 11rem 4rem;
}

.formHolder form input {
    margin-bottom: 0.8rem;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 57, 117, 0.28);
    box-sizing: border-box;
    border-radius: 4px;
}

.formHolder form textarea {
    margin-bottom: 2rem;
    width: 100%;
    height: 152px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 57, 117, 0.28);
    box-sizing: border-box;
    border-radius: 4px;
}

.formHolder button {
    color: #ffffff;
    width: 100%;
    height: 48px;
    background: #008DC2;
    border-radius: 4px;
    border: none;
}

.map {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 25rem 3rem 4rem 3rem;
}

.footer {
    width: 100%;
    height: 98px;
    background: #393F47;
}

@media  screen and (max-width: 1439px) {
    .form {
        width: 50%;
        height: 739px;
        left: 42%;
    }
    .formHolder button {
        width: 100%;
        
    }
    .location {
        width: 84%;
    }
}

@media screen and (max-width: 540px){
    .location {
        width: 18rem;
    }
    .form {
        width: 100%;
        height: 34rem;
        top: 40rem;
        left: 0%;
        clip-path: none;
    }
    .formHolder {
        margin: 0rem 4rem;
    }
    .map {
        margin: 38rem 2rem 3rem 2rem;
    }
}
