.header {
    background: #003975;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 900;
    width: 100%;
    
}

.header__container {
    padding: 17px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    cursor: pointer;
}

@media  screen and (max-width: 540px) {
    .header__container {
        padding: 17px 30px;
    }
}

@media  screen and (min-width: 1441px) {
    .header {
        width: 1440px;
        
    }
  }