.header {
    background: #fff;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 900;
    width: 100%;
}

.header__container {
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo svg{
    width: 90%;
}

.hamburger {
    cursor: pointer;
    display: none;
}
.nav {
    list-style: none;
}
.navItems {
    display: flex;
}
.navLists {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #000000;
    text-decoration: none;
    list-style: none;
}
.navLists:hover  {
    color: #008DC2;
}
.active {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.035em;
    color: #008DC2;
    list-style: none;
    text-decoration: none;
}

@media  screen and (max-width: 768px) {
    .header__container {
        padding: 0px 55px;
    }
    .navLists {
        font-size: 10px;
    }
  }

@media  screen and (max-width: 600px) {
    .header__container {
        padding: 0px 30px;
    }
    .hamburger {
        display: block;
    }
    .navLists, .navItems {
        display: none;
    }
    .active {
        display: none;
    }
    
}

