.icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.navLinks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 80px);
    text-align: center;
    
}
.navLinks li {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 154.5%;
    letter-spacing: 0.035em;
}

.navLinks a {
    color: #fff;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.navLinks a:hover {
    color: #E8661C;
    transition: 0.2s ease-in-out
}
